---

import  fieldsDataJSON from '../../data/fields.json';
import Layout from "../../layouts/Layout.astro"


type FieldData = {
	name: string;
	image?: string;
	description?: string;
	content?: string;
};




export function getStaticPaths() {
  
const fieldsArr: FieldData[] = fieldsDataJSON as FieldData[];
  const paths = fieldsArr.map((field) => ({
    params: { id: field.name.toLowerCase() },
    props: { field },
  }));

  return paths;

}

const { id } = Astro.params;
const { field } = Astro.props;

---

<Layout title={`${id}`}>
  <section class="px-8 h-40 bg-blue-500 w-full flex flex-col gap-16 ">
    <h1 class="uppercase my-12 text-6xl text-white items-center">{id}</h1>
  </section>
  <p class="text-lg px-8">{field.content}</p>
</Layout>
