---
import Layout from '../layouts/Layout.astro'
---

<Layout title="About Prayer Regimagined">
 <main class="container mx-8 py-8">
        <section class="bg-white shadow-lg rounded-lg p-8">
            <h2 class="text-2xl font-semibold mb-4">Our Story</h2>
            <p class="text-gray-700">
                It was the 1960s when I was growing up coming of age with the typical teenage turbulence, my search for identity, my place in the world etc. Curiously it was much the same with American society in that it seemed to be experiencing its own turbulence. There was the blossoming of the hippie counterculture; the rejection of the status quo. The younger generations was embracing a movement of experimentation, individuality, music (the British musical invasion) and different ideas such as 'Don't trust anyone over 30!'. Meanwhile I was rapidly expanding my knowledge and library with books on topics like UFOs or UAPs, astrology, numerology, I Ching, Tarot and such. My interests in the esoteric, unseen and mysterious have not gone away as you can conclude by this website! Welcome to prayer reimagined.
            </p>
        </section>
        
        <section class="mt-8 bg-white shadow-lg rounded-lg p-8">
            <h2 class="text-2xl font-semibold mb-4">Our Team</h2>
            <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
                <!-- Team members -->
                <div class="bg-gray-200 rounded-lg p-4">
                    <img src="team-member1.jpg" alt="Team Member 1" class="w-24 h-24 rounded-full mx-auto mb-4">
                    <h3 class="text-lg font-semibold">Hank Lizer</h3>
                    <p class="text-gray-600">CEO</p>
                </div>
             
            </div>
        </section>
    </main>
</Layout>
